*{
    margin: 0px;
    padding: 0px;
}

.banner-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background: rgba(229, 84, 115, 0.20);
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-head-text{
    margin: 10px 50px 0px 0px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}

.banner-description{
    margin: 20px 0px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-image{
    padding-top: 50px;
    width: 635px;
    height: 800px;
}

.hot-deal-container{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    align-items: center;
    background: rgba(229, 84, 115, 0.20);
}

.hot-deal-text{
    text-align: center;
}

.hot-deal-description{
    margin: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.btn-hot{
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.instagram-title{
    margin-top: 50px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.instagram-description{
    margin: 20px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.instagram-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 170px 100px 170px;
}

.latest-deal{
    margin-left: 178px;
    width: 1440px;
    height: 449px;
    text-align: center;
    background-image: url(./images/Rectangle\ 9.png);
}

.latest-deal-title{
    padding-top: 150px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    margin-bottom: 40px;
}

.subscription input[type="text"] {
    width: 600px;
    height: 64px;
    font-size: 18px;
    border-radius: 8px;
    background: #FFF;
    color: white;
}